.weather-card {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.weather-card-icon-container {    
    max-width: 40%;
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}
.weather-card-icon {
    font-size: 55px;
    transition: 0.3s linear;
}
.weather-card-icon:hover{
    transform: scale(1.1);
    transition: 0.3s linear;
}
.weather-data-container {  
    border-left: 1px solid white;
    margin-left: 13px;    
    padding: 10px 5px 0 10px;
    width: 60%;    
    box-sizing: border-box;
}
.weather-card-degrees {
    margin:0;
}
.weather-card-city {
    margin: 0;
    font-weight: normal;
}