.container-fluid {
    height: 50px;
    z-index: 20;    
}
.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(199, 199, 199);    
}

.container-app { 
    box-sizing: border-box;
    color: gray;   
    z-index: 20;
    padding: 0;
    margin: 0;
}

.leftPanelActive {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    z-index: 10;
    height: calc( 100vh - 50px );
    color: white;
    width: 280px;
    margin: 0;
    transition: linear 0.25s;
}

.leftPanelHidden {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: -280px;
    z-index: 10;
    height: calc( 100vh - 50px );
    color: white;
    width: 280px;
    margin: 0;
    transition: linear 0.25s;
}

.rightPanelActive {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 10;
    height: calc( 100vh - 50px );
    color: white;
    width: 280px;
    right: 0;
    transition: linear 0.25s;    
}

.rightPanelHidden {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 10;
    height: calc( 100vh - 50px );
    color: white;
    width: 280px;
    right: -280px;
    transition: linear 0.25s;    
}