.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc( 100vh - 50px );
    max-height: calc( 100vh - 50px );     
    color: rgb(255, 255, 255);
    overflow:auto;    
}
.direction-flex-column {
  display: flex;
  flex-direction: column;
}
.background_1_app {
  background-image: url("../../images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}
.background_2_app {
  background-image: url("../../images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}
.background_3_app {
  background-image: url("../../images/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}
.background_4_app {
  background-image: url("../../images/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}

.personal-container {    
    width: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin: 0 auto;    
    animation: fade-in-right ease 0.9s forwards;
}
.welcome-in-my-data {
  max-width: 50%;
  margin-top: 80px;   
}
.p-underline-personal {
  border-bottom: 1px solid white;
}
.row-personal-data{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}
.animation-in {
  opacity: 0;
  animation: fade-in-right ease 0.9s forwards;
  animation-delay: 0.3s;
}
@keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-15px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /*ROW 2*/
.column-data-30 {
    display: flex;
    flex-direction: row;
    width: 28%;
    padding-left: 15px;
}
.column-data-70 {
  display: flex;
  flex-direction: row;
  width: 72%;
  padding-left: 15px;
}
.personal-second-row-first-column {
  display: flex;
  flex-direction: column;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);  
  box-sizing: content-box;  
  animation: fade-in-right ease 0.9s forwards;
  animation-delay: 0.6s;
  margin-bottom: 15px;  
  height: 300px; 
  padding-bottom: 10px;    
}
.strong-weak-handler-container {
  width: 100%;
}
.strong-weak-handler-container button {
  width: 50%;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border: 1px solid white;
  margin-bottom: 5px;
  height: 30px;
}
.strong-weak-handler-container button:active {
  border: none;
}
.personal-second-row-first-column:hover {
  transition: 0.2s linear;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/*ROW 2 column 2*/

.personal-second-row-second-column {
  opacity: 0;
  height: 310px;
  width: 800px;  
  display: flex;
  flex-direction: column;  
  margin-bottom: 0;
  padding-bottom: 0;
  background: rgba(0, 0, 0, 0.3); 
  animation-delay: 2s;
  animation: fade-in-right ease 2s forwards;  
}

.personal-skills-buttons button {
  width: 33.33%;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border: 1px solid white;
  margin-bottom: 5px;
  height: 30px;
}