.TodoList-toDoApp {
    padding-left: 30px;
    position: relative;
    box-sizing: border-box;
    color: blueviolet;
    width: 100%;
    margin: 15px auto;    
}

.h3-toDoApp {
    position: relative;
    margin: 0 auto 5px;
}

