
p{
    margin-top: 2px;
}
.item-toDoApp {
    padding: 0;
    background-color: rgba(27, 27, 27, 0.5);
    margin: 5px 30px 5px 0;
    box-sizing: border-box;
    position: relative;
    color: rgb(224, 224, 224);
    font-size: 16px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;    
    display: flex;
    justify-content: left;
}

.itemSpan-toDoApp {
    position: relative;
    color: rgb(236, 236, 236);
    font-size: 16px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.itemSpan-toDoApp:hover {
    position: relative;
    text-decoration: line-through;
    color: rgb(157, 171, 229);
    cursor: pointer;
}
.active-toDoApp:hover {
    position: relative;    
    color: rgb(74, 99, 209);
    cursor: pointer;
    text-decoration: none;
}
.active-toDoApp {
    color: rgb(114, 132, 231);
    text-align: left;
    text-decoration: line-through;
}

.date-toDoApp {
    font-size: 13px;
    color: rgb(198, 211, 255);
}

.born-toDoApp {
    font-size: 11px;    
}

.div1-toDoApp {
    box-sizing: border-box;
    width: 85%;
    padding: 5px;
    padding-left: 15px;

}

.div2-toDoApp {    
    text-align: right;
    box-sizing: border-box;
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
.button-toDoApp {
    background: rgba(27, 27, 27, 0.5);
    border: none;
    border-left: 1px solid black;
    color: white;
}
.button-toDoApp:hover {
    cursor: pointer;
    background: rgba(255, 36, 36, 0.5);

}

