

.field-container{
    box-sizing: border-box;
    margin: 5px 15px;
    padding: 10px 15px 5px 15px; 
    background: rgba(0, 0, 0, 0.2)
}
.text {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;    
}
.text2 {
    font-size: 12px;
    font-family: 'Open Sans Condensed', sans-serif;    
}