@charset "UTF-8";
*, *::before, *::after { box-sizing: border-box; }
.landing-page-1-container { height: calc(100vh - 50px); overflow: auto; background-color: #fff; color: #686868; font-family: 'Montserrat', sans-serif; margin: 0; padding: 0; } 
.landing-page-1-container p { font-family: "Lora", serif; font-weight: 400; line-height: 1.5;  }

.landing-page-1-container h1 { font-weight: bold; }
.landing-page-1-container a { text-decoration: none; -webkit-transition: 0.5s ease; }
.landing-page-1-container { height: calc( 100vh - 50px ); max-height: calc( 100vh - 50px ); }


ul { margin: 0; padding: 0; }

img { max-width: 100%; }

.o-col { width: 100%; padding-left: 15px; padding-right: 15px; }

@media (min-width: 768px) { .o-col--md1 { flex: 0 0 8.33%; max-width: 8.33%; } }

@media (min-width: 768px) { .o-col--md2 { flex: 0 0 16.66%; max-width: 16.66%; } }

@media (min-width: 768px) { .o-col--md3 { flex: 0 0 25%; max-width: 25%; } }

@media (min-width: 768px) { .o-col--md4 { flex: 0 0 33.33%; max-width: 33.33%; } }

@media (min-width: 768px) { .o-col--md5 { flex: 0 0 41.66%; max-width: 41.66%; } }

@media (min-width: 768px) { .o-col--md6 { flex: 0 0 50%; max-width: 50%; } }

@media (min-width: 768px) { .o-col--md7 { flex: 0 0 58.33%; max-width: 58.33%; } }

@media (min-width: 768px) { .o-col--md8 { flex: 0 0 66.66%; max-width: 66.66%; } }

@media (min-width: 768px) { .o-col--md9 { flex: 0 0 75%; max-width: 75%; } }

@media (min-width: 768px) { .o-col--md10 { flex: 0 0 83.33%; max-width: 83.33%; } }

@media (min-width: 768px) { .o-col--md11 { flex: 0 0 91.66%; max-width: 91.66%; } }

@media (min-width: 768px) { .o-col--md12 { flex: 0 0 100%; max-width: 100%; } }

@media (min-width: 1200px) { .o-col--lg1 { flex: 0 0 8.33%; max-width: 8.33%; } }

@media (min-width: 1200px) { .o-col--lg2 { flex: 0 0 16.66%; max-width: 16.66%; } }

@media (min-width: 1200px) { .o-col--lg3 { flex: 0 0 25%; max-width: 25%; } }

@media (min-width: 1200px) { .o-col--lg4 { flex: 0 0 33.33%; max-width: 33.33%; } }

@media (min-width: 1200px) { .o-col--lg5 { flex: 0 0 41.66%; max-width: 41.66%; } }

@media (min-width: 1200px) { .o-col--lg6 { flex: 0 0 50%; max-width: 50%; } }

@media (min-width: 1200px) { .o-col--lg7 { flex: 0 0 58.33%; max-width: 58.33%; } }

@media (min-width: 1200px) { .o-col--lg8 { flex: 0 0 66.66%; max-width: 66.66%; } }

@media (min-width: 1200px) { .o-col--lg9 { flex: 0 0 75%; max-width: 75%; } }

@media (min-width: 1200px) { .o-col--lg10 { flex: 0 0 83.33%; max-width: 83.33%; } }

@media (min-width: 1200px) { .o-col--lg11 { flex: 0 0 91.66%; max-width: 91.66%; } }

@media (min-width: 1200px) { .o-col--lg12 { flex: 0 0 100%; max-width: 100%; } }

.o-container { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; width: 100%; }

@media (min-width: 768px) { .o-container { max-width: 740px; } }

@media (min-width: 1200px) { .o-container { max-width: 1200px; } }

.o-row { display: flex; flex-direction: column; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; }

@media (min-width: 768px) { .o-row { flex-direction: row; } }

.o-row--center-y { align-items: center; }

.c-btn-lp1 { border: none; border-radius: 2px; display: inline-block; font-size: 1.75rem; font-weight: 700; line-height: 1.5; padding: 1rem 0; text-align: center; text-transform: uppercase; width: 220px; transition: all .25s ease-in-out; }

.c-btn-lp1:hover { text-decoration: none; }

.c-btn--primary-lp1 { background-color: #fed136; color: #fff; }

.c-btn--primary-lp1:hover { background-color: #cd9f01; color: #fff; }

.c-heading-lp1 { color: #222222; line-height: 1.2; margin-bottom: 5px; }

.c-heading-lp1--level0 { font-size: 1.5rem; }

@media (min-width: 768px) { .c-heading-lp1--level0 { font-size: 6rem; } }

.c-heading-lp1--level1 { font-size: 1.5rem; }

@media (min-width: 768px) { .c-heading-lp1--level1 { font-size: 5rem; } }

.c-heading-lp1--level2 { font-size: 1.125rem; }

@media (min-width: 768px) { .c-heading-lp1--level2 { font-size: 2.3rem; color: rgb(44, 44, 44); font-weight: bold; } }

.c-heading-lp1--level3 { font-size: 1.85rem; margin-top: 5px;}

.c-heading-lp1--level4 { font-size: 2rem; }

.c-heading-lp1--level5 { font-size: 0.875rem; }

.c-heading-lp1--upper { text-transform: uppercase; }

.c-heading-lp1--white { color: #fff; }

.c-nav__item-lp1 { color: #fff; display: block; font-size: 1rem; padding-bottom: 7.5px; padding-top: 7.5px; text-align: center; text-transform: uppercase; width: 100%; transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; position: relative; font-weight: 600; }

.c-nav__item-lp1:hover { color: #fff; text-decoration: none; }

.c-nav__item--underline-hover-lp1:before { content: ""; position: absolute; width: 100%; height: 2px; bottom: -3px; left: 0; background-color: #fed136; visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; }

.c-nav__item--underline-hover-lp1:hover:before { visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1); }

@media (min-width: 768px) { .c-nav__item-lp1 { display: inline-block; margin-left: 25px; width: auto; font-size: 17px; } }

.c-icon-box { text-align: center; }

.c-icon-box__image { display: flex; justify-content: center; /*  Icon jpg height  */ height: 74px; margin-bottom: 25px; }

.c-icon-box__icon { align-self: center; }

.c-icon-box__text-lp1 { font-size: 1.45rem; margin-top: 20px; }

.c-portfolio-box { text-align: center; margin-bottom: 40px; }

.c-portfolio-box__image { max-width: 100%; width: 100%; /* display: flex; justify-content: center; // wyś w poziomie //  Icon jpg height   max-height: 300px; width: 100%; margin-bottom: $grid-base * 2.5;     */ object-fit: cover; }

.c-portfolio-box__icon { height: 370px; width: 100%; display: block; object-fit: cover; transition: .4s; }

@media (min-width: 768px) { .c-portfolio-box__icon { height: 200px; } }

@media (min-width: 1200px) { .c-portfolio-box__icon { height: 380px; } }

.c-portfolio-box__icon:hover { transform: scale(1.1); transition: .4s; cursor: pointer; }

.c-portfolio-box__text-lp1 { font-size: 1.45rem; }

.social-lp1 { margin: 0 auto; padding: 0; width: 500px; max-width: 100%; text-align: left; display: flex; justify-content: center; }

.social-lp1 .fa { font-size: 18px; text-align: center; }

.ic-btn-lp1:focus { outline: 0; }

.ic-btn-lp1 { border: 2px solid black; display: inline-block; width: 40px; height: 40px; border-radius: 50%; cursor: pointer; background-color: white; margin: 7px; transition: transform 0.5s; }

.fa-twitter { color: #222222; }

.fa-facebook { color: #222222; }

.fa-google-plus { color: #222222; }

.fa-instagram { color: #4d1a00; }

.fa-github { color: #1a66ff; }

.ic-btn-lp1:hover, .ic-btn-lp1:hover .fa { transform: scale(1.15); color: white; transition: transform 0.7s; }

.b-tw-lp1:hover { background-color: #0084b4; }

.b-fb-lp1:hover { background-color: #24478f; }

.b-gplus-lp1:hover { background-color: #b30000; }

.b-inst:hover { background-color: #4d1a00; }

.b-gh:hover { background-color: #1a66ff; }

.t-site-header-lp1 { background: url("../images/hero-1.jpg") 0 0 no-repeat; background-size: cover; height: 90vh; }

.t-site-header__top { padding-bottom: 25px; padding-top: 45px; }

.t-site-header__menu { margin-top: 20px; }

@media (min-width: 768px) { .t-site-header__menu { margin-top: 0; text-align: right; } }

.t-site-header__hero { margin-top: 100px; }

@media (min-width: 768px) { .t-site-header__hero { margin-top: 260px; } }

.t-site-header__intro-text-lp1 { font-family: "Lora", serif; font-weight: 400; font-style: italic; font-size: 24px; }

@media (min-width: 768px) { .t-site-header__intro-text-lp1 { font-size: 36px; } }

.t-services-1 { margin-top: 150px; margin-bottom: 100px; }

.t-services__header { text-align: center; }

.t-services__header p { font-size: 1.75rem; }

.t-portfolio { margin-top: 120px; }

@media (min-width: 768px) { .t-portfolio { margin-top: 200px; } }

.t-about { margin-top: 80px; }

@media (min-width: 768px) { .t-about { margin-top: 180px; } }

.t-about__row { margin-bottom: 110px; }

.t-about__header-lp1 { text-align: center; }

.t-about__header-lp1 p { font-size: 1.5rem; }

@media (min-width: 768px) { .t-about__header-lp1 p { font-size: 1.75rem; } }

.t-about__content { margin-top: 20px; text-align: center; }

@media (min-width: 768px) { .t-about__content { text-align: right; } }

.t-about__content--rev { margin-top: 20px; text-align: center; }

@media (min-width: 768px) { .t-about__content--rev { text-align: left; } }

.t-about__image { object-fit: cover; margin: 0; display: flex; justify-content: center; }

@media (min-width: 768px) { .t-about__image--offset { margin-left: 33.33%; } }

.t-about__item { border: 8px solid rgba(190, 190, 190, 0.35); border-radius: 50%; height: 200px; width: 200px; object-fit: cover; transition: .4s; }

.t-about__item:hover { transform: scale(1.1); transition: .4s; cursor: pointer; }

.t-about__text-lp1 { font-size: 1.5rem; }

.t-team-1 { text-align: center; margin-top: 130px; }

@media (min-width: 1200px) { .t-team { margin-top: 240px; } }

.t-team__box { margin-bottom: 60px; }

@media (min-width: 768px) { .t-team__box { margin-bottom: 30px; } }

.t-team__image { display: flex; justify-content: center; /*  Icon jpg height  */ margin-bottom: 25px; }

.t-team__icon-lp1 { border-radius: 50%; max-height: 300px; width: 300px; transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; object-fit: cover; }

.t-team__icon-lp1:hover { transform: scale(1.1); transition: .4s; cursor: pointer; transition: all 0.5s cubic-bezier(0.25, 0.25, 0, 0.25) 0s; }

.t-team__text-lp2 { font-size: 1.5rem; }

.t-team__footer { margin-top: 30px; }

@media (min-width: 768px) { .t-team__footer { padding: 0 120px; } }

.t-brands-lp1 { margin-top: 100px; margin-bottom: 80px; }

@media (min-width: 768px) { .t-brands-lp1 { margin-top: 150px; margin-bottom: 10px; } }

.t-brands-lp1__box { display: flex; justify-content: center; margin-bottom: 35px; }

.t-contact { background: url("../images/contact.jpg") 0 0 no-repeat; background-size: cover; height: 676px; }

.t-contact p { font-size: 1rem; }

.t-contact__header { text-align: center; margin-top: 50px; }

@media (min-width: 1200px) { .t-contact__header { margin-top: 100px; } }

.t-contact__form-box { margin-top: 50px; }

.t-contact__form-group { display: flex; justify-content: center; }

.t-contact__form { font-size: 0.875rem; width: 80%; padding: 10px; margin-top: 10px; margin-bottom: 10px; border: 1px solid black; border-radius: 4px; }

@media (min-width: 1200px) { .t-contact__form { font-size: 15px; width: 100%; padding: 16.5px; margin-top: 10px; margin-bottom: 12.6px; border: 1px solid black; border-radius: 4px; } }

.t-footer-lp1 { margin-top: 10px; margin-bottom: 10px; }

.t-footer-lp1__copyright { margin-top: 20px; display: flex; justify-content: center; align-items: center; }

.u-flex-c { display: flex; justify-content: center; }

.object-fit_cover { object-fit: cover; }

.col-offset-4 { margin-left: 33.33%; }

.u-mb-1 { margin-bottom: 10px; }

.u-mb-2 { margin-bottom: 20px; }

.u-mb-3 { margin-bottom: 30px; }

.u-mb-4 { margin-bottom: 40px; }

.u-mb-5 { margin-bottom: 50px; }

.u-mb-6 { margin-bottom: 60px; }

.u-mt-1 { margin-top: 10px; }

.u-mt-2 { margin-top: 20px; }

.u-mt-3 { margin-top: 30px; }

.u-mt-4 { margin-top: 40px; }

.u-mt-5 { margin-top: 50px; }

.u-mt-6 { margin-top: 60px; }

.u-text-lora { font-family: "Lora", serif; }

.u-text-italic { font-style: italic; }

.u-text-center { text-align: center; }

.u-text-right { text-align: right; }

.u-text-left { text-align: left; }

@media (min-width: 1200px) { .u-text-lg-right { text-align: right; } }

@media (min-width: 1200px) { .u-text-lg-left { text-align: left; } }

@media (min-width: 1200px) { .u-text-lg-left { text-align: left; } }

.u-bg-white { background-color: #fff; }

.u-bg-dark { background-color: #222222; }

.u-white { color: #fff; }

.u-primary { color: #686868; }
