.contact-container-con {
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc( 100vh - 50px );
    max-height: calc( 100vh - 50px );      
    color: rgb(255, 255, 255);
    overflow: auto; 
}


.content-container-con{
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin: 0 auto; 
    margin-top: 50px;   
}

.contact-link-git {
    color: rgb(255, 255, 255);
}