@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

.container {    
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc( 100vh - 50px );
    max-height: calc( 100vh - 50px );     
    color: rgb(255, 255, 255);    
}

.background_1_app {
    background-image: url("../images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.background_2_app {
    background-image: url("../images/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.background_3_app {
    background-image: url("../images/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.background_4_app {
    background-image: url("../images/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.app-container {
    width: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin: 0 auto;    
}
.div-container1{
    font-family: 'montserrat', sans-serif;
    width: 100%;   
    margin-top:100px; 
}
.div1-home{
    box-sizing: border-box;
    padding: 0;    
    margin:0;
    width: 50%;      
    padding: 10px;  
}
.div1-home-p{
    opacity: 0;
    animation: fade-in-right ease 1s forwards;    
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 35px;    
}
.div1-home-span{
    color: rgba(255, 255, 255, 0.5);    
}
.home-welcome-text-journey {    
    opacity: 0; 
    animation: fade-in-right ease 1s forwards;   
    animation-delay: 0.5s; 
    padding: 4px;    
}

@keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-15px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
