.rightPanelActive {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 10;
    height: calc( 100vh - 50px );
    color: white;
    width: 280px;
    right: 0;
    transition: linear 0.25s; 
    border-left: 1px solid rgb(53, 53, 53);
    overflow: auto;   
}

.rightPanelHidden {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 10;
    height: calc( 100vh - 50px );
    color: white;
    width: 280px;
    right: -280px;
    transition: linear 0.25s;   
    border-left: 1px solid rgb(53, 53, 53);
    overflow: auto;   
}